body{
    width: 1440px;
}
.work{
    background-color: blue;
    width: 200px;
    height: 150px;
  margin-top: 500px;
  margin-left: 200px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;

}

